
@{
    ViewBag.Title = "ConfirmOrder";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h2>Đơn hàng của quý khách đã được ghi nhận. Chúng tối sẽ liên hệ giao hàng trong thời gian sớm nhất.</h2>
<p>
    @Html.ActionLink("VỀ TRANG CHỦ","Index","Book")
</p>

