@model IEnumerable<WebBanSach.Models.NXB>

@foreach (var item in Model)
{
    <li>
        <a href="@Url.Action("SachTheoNXB","Book",new { id = item.MaNXB})">
            @item.TenNXB 
        </a>
    </li>
}